name: Pipeline-P1

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Build Docker image
      run: |
        docker build -t ld-demo:latest -f app/Dockerfile app/

    - name: Show Docker images
      run: docker images

    - name: Deploy to Kubernetes (simulado)
      run: echo "Aquí iría kubectl apply -f k8s/deployment.yaml"
